<!-- Title -->
<h2 class="title">
	Administrar sua Conta
	<small>{{ isLoading ? 'Carregando...' : 'Conta Protegida' }}</small>
</h2>
<!-- FIM -->

<!-- Avatar -->
<div class="avatar">
	<div class="image" (click)="onChangeImage()">
		<img src="assets/images/user.png">
	</div>
	<div class="userData">
		<h3>
			{{ userData.name }}
			<small>{{ userData.email }}</small>
		</h3>
	</div>
	<div class="btn">
		<button mat-icon-button matTooltip="Editar Dados" (click)="onUpdateAccount()">
			<mat-icon>edit</mat-icon>
		</button>
	</div>
</div>
<!-- FIM -->

<!-- Conteudo -->
<div *ngIf="dataCtrl$ | async as dataCtrl; else loading">

	<!-- Algum Conteudo -->
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
				 	Controle de Dados
				</mat-panel-title>
			</mat-expansion-panel-header>

			<mat-list>
				<mat-list-item>
					<mat-icon mat-list-icon color="primary">attach_money</mat-icon>
					<h3 mat-line class="listTitle">Salário</h3>
					<div align="end">
						<p>{{ userData.salary | currency }}</p>
					</div>
				</mat-list-item>
				<mat-list-item>
					<mat-icon mat-list-icon color="primary">assessment</mat-icon>
					<h3 mat-line class="listTitle">Total de Despesas</h3>
					<div align="end">
						<p>{{ dataCtrl.numberOfExpenses }}</p>
					</div>
				</mat-list-item>
				<mat-list-item>
					<mat-icon mat-list-icon color="primary">trending_up</mat-icon>
					<h3 mat-line class="listTitle">Total de gastos com Despesas</h3>
					<div align="end">
						<p>{{ dataCtrl.sumOfValues | currency }}</p>
					</div>
				</mat-list-item>
				<mat-list-item>
					<mat-icon mat-list-icon color="primary">timeline</mat-icon>
					<h3 mat-line class="listTitle">Média de gastos por Mês</h3>
					<div align="end">
						<p>{{ dataCtrl.avgOfValues | currency }}</p>
					</div>
				</mat-list-item>
			</mat-list>

		</mat-expansion-panel>
	</mat-accordion>
	<!-- FIM -->

</div>
<!-- FIM -->

<!-- Spinner -->
<ng-template #loading>
	<mat-grid-list cols="3" rowHeight="50">
		<mat-grid-tile colspan="1"></mat-grid-tile>
		<mat-grid-tile colspan="1" align="center">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-grid-tile>
		<mat-grid-tile colspan="1"></mat-grid-tile>
	</mat-grid-list>
</ng-template>
<!-- FIM -->

<!-- Title -->
<h2 class="title">
	Configurações
	<small>Atualização de Dados e Senha</small>
</h2>
<!-- FIM -->

<!-- Configurações de Conta -->
<div class="content">

	<h3 class="subtitle">Redefinir Senha</h3>
	<p class="description">Por motivos de segurança, deixamos a atualização de dados e a redefinição de senha separados, para que haja o melhor controle de segurança da sua conta. Nesta opção, será enviado um email para que você possa redefinir sua senha.</p>
	<mat-card>
		<mat-card-content class="flex">
			<div class="left">
				<b>Click no botão para redefinir a sua Senha: </b>
			</div>
			<div class="right">
				<button mat-raised-button color="accent" (click)="onForgotPass()">
					Redefinir Senha
				</button>
			</div>
		</mat-card-content>
	</mat-card>

</div>

<div class="content">

	<h3 class="subtitleWarn">Deletar Conta</h3>
	<p class="description">Utilize essa opção se você não quiser mais possuir uma conta no nosso sistema. Lembre-se que quando sua conta for excluida, você não poderá mais recupera-lá.</p>
	<mat-card>
		<mat-card-content class="flex">
			<div class="left">
				<b>Click no botão para excluir sua Conta: </b>
			</div>
			<div class="right">
				<button mat-raised-button color="warn" (click)="onShowAlert()">
					Excluir Conta
				</button>
			</div>
		</mat-card-content>
	</mat-card>

</div>
<!-- FIM -->
