<h2 class="title">
	Configurações do Sistema
	<small>Versão: 1.0.2</small>
</h2>

<div class="content">
	<h3 class="subtitle">Tema</h3>
	<p class="description">
		Aqui você pode alterar a cor do sistema em cores Escuras ou Claras. Você perceberá a mudança na cor de fundo do sistema, quando em tema escuro, a cor ficará escura (quase um preto), e quando estiver em tema claro, ficará em cinza (quase branco). As cores dos textos e icones também mudarão conforme o tema, se escuro ficará branco senão ficará em preto.
	</p>
	<mat-card>
		<mat-card-content class="flex">
			<div class="left">
				<b>Escolher Tema: </b>
			</div>
			<div class="right">
				<mat-slide-toggle (change)="onChangeTheme()" [checked]="darkMode == true">
					Escuro
				</mat-slide-toggle>
			</div>
		</mat-card-content>
	</mat-card>
</div>
