.content {
	margin: 30px 20px;
}

.content .subtitle {
	color: #7C4DFF;
	font-weight: bold;
	cursor: default;
}

.content .description {
	text-align: justify;
}

.content .flex {
	display: flex;
}

.content .flex .left {
	text-align: left;
	padding-top: 4px;
	width: 50%;
}

.content .flex .right {
	text-align: right;
	width: 50%;
}
