<h2 class="title">
	Configurações do Sistema
	<small>Versão: 1.0.2</small>
</h2>

<div class="content">
	<h3 class="subtitle">Tema</h3>
	<p class="description">
		Aqui você pode alterar a cor do sistema em cores Escuras ou Claras. Você perceberá a mudança na cor de fundo do sistema, quando em tema escuro, a cor ficará escura (quase um preto), e quando estiver em tema claro, ficará em cinza (quase branco). As cores dos textos e icones também mudarão conforme o tema, se escuro ficará branco senão ficará em preto.
	</p>
	<mat-card>
		<mat-card-content class="flex">
			<div class="left">
				<b>Mudar para tema {{ darkMode == false ? 'Escuro' : 'Claro' }}: </b>
			</div>
			<div class="right">
				<button mat-raised-button color="accent" (click)="onChangeTheme()">
					Tema {{ darkMode == false ? 'Escuro' : 'Claro' }}
				</button>
			</div>
		</mat-card-content>
	</mat-card>
</div>

<div class="content">
	<h3 class="subtitle">Envio de Emails</h3>
	<p class="description">
		Deseja permitir que o sistema te envie Emails para te alertar sobre suas despesas e lucros. Essa não é uma configuração obrigatória, você pode simplesmente ignorar.
	</p>
	<mat-card>
		<mat-card-content class="flex">
			<div class="left">
				<b>Permitir que o sistema te envie Emails: </b>
			</div>
			<div class="right">
				<button mat-raised-button color="accent">Permitir</button>
			</div>
		</mat-card-content>
	</mat-card>
</div>
