<!-- Title -->
<h2 class="title">
	Todas as suas Despesas
	<small>Controle</small>
</h2>
<!-- FIM -->

<!-- Caixa de Pesquisa -->
<mat-card class="searchBox" class="mat-elevation-z8">

	<!-- Input de Pesquisa -->
	<mat-card-content>

		<mat-form-field class="group" appearance="outline">
			<mat-label>Pesquisar Despesa por: nome, data e preço</mat-label>
			<input matInput [formControl]="tag">

			<mat-icon matSuffix>search</mat-icon>
		</mat-form-field>

		<!-- Resultado da Pesquisa -->
		<div *ngIf="results$ | async as results">
			<mat-divider></mat-divider>
			<mat-list class="list">

				<div *ngIf="results == null || results.length == 0; else itemList" align="center">
					<p style="top: 15px">Nada Encontrado!</p>
				</div>

				<!-- Lista de Resultados -->
				<ng-template #itemList>
					<mat-list-item class="item" *ngFor="let item of results" (click)="onShowDetail(item._id)">
						<mat-icon mat-list-icon color="primary">label_important</mat-icon>
						<h3 mat-line class="listTitle">{{ item.name }}</h3>
						<p mat-line>{{ item.date }} &#9679; {{ item.status }}</p>
						<div align="end">
							<p mat-line>{{ item.value | currency }}</p>
						</div>
					</mat-list-item>
				</ng-template>
				<!-- FIM -->
			</mat-list>
		</div>
		<!-- FIM -->

	</mat-card-content>
	<!-- FIM -->

</mat-card>
<!-- FIM -->

<!-- Div que verifica se há despesas na variavel -->
<div *ngIf="expenses$ | async as expenses; else loading" class="content">

	<!-- Verifica se existe alguma Despesa, senão carrega o ng-template -->
	<div *ngIf="expenses.length == 0; else allExpenses" align="center">
		<p>Você não possui nenhuma despesa cadastrada!</p>
		<div class="btns">
			<button mat-raised-button color="accent" class="leftBtn" (click)="onRefresh()">Tentar Denovo</button>
			ou
			<button mat-raised-button color="accent" class="rightBtn" (click)="onAddExpense()">Adicionar Despesa</button>
		</div>
	</div>
	<!-- FIM -->

	<!-- Tabela com as Despesas -->
	<ng-template #allExpenses>

		<mat-table [dataSource]="expenses$" class="table mat-elevation-z8">

			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
				<mat-cell *matCellDef="let data"> {{ data.name }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="value">
				<mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
				<mat-cell *matCellDef="let data"> {{ data.value | currency }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="status">
				<mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
				<mat-cell *matCellDef="let data"> {{ data.status }} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="date">
				<mat-header-cell *matHeaderCellDef>Data de Criação</mat-header-cell>
				<mat-cell *matCellDef="let data"> {{ data.date }} </mat-cell>
			</ng-container>


			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row
				*matRowDef=" let row; columns: displayedColumns"
				(click)="onShowDetail(row._id)"
				class="example-element-row"
			></mat-row>

		</mat-table>

	</ng-template>
	<!-- FIM -->

</div>
<!-- FIM -->

<!-- Spinner -->
<ng-template #loading>
	<mat-grid-list cols="3" rowHeight="50" class="content">
		<mat-grid-tile colspan="1"></mat-grid-tile>
		<mat-grid-tile colspan="1" align="center">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-grid-tile>
		<mat-grid-tile colspan="1"></mat-grid-tile>
	</mat-grid-list>
</ng-template>
<!-- FIM -->
