.item {
    cursor: pointer;
    transition: 0.5s ease all;
    border-radius: 3px;
    margin-bottom: 2px;
}
.item:hover {
    background-color: #777;
}

mat-list .listTitle {
    font-weight: bold;
}

.danger {
    color: #e53935;
}

.success {
    color: #00a300;
}
