<!-- Titulo -->
<h2 class="title">
	Home Page
	<small>Dashboard</small>
</h2>
<!-- FIM -->

<div *ngIf="dataCtrl$ | async as dataCtrl; else primaryLoading">

	<div *ngIf="dataCtrl.numberOfExpenses == 0 || dataCtrl == null; else someData" align="center">
		<p>Você precisa adicinar despesas para o sistema calcular os seus gastos.</p>
	</div>

	<!-- Carrega o DataController -->
	<ng-template #someData>
		<mat-accordion class="mat-elevation-z8">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Veja seu Lucro
					</mat-panel-title>
				</mat-expansion-panel-header>

				<mat-list class="list">
					<mat-list-item>
						<mat-icon mat-list-icon color="primary">trending_up</mat-icon>
						<h3 mat-line class="listTitle">Salário: {{ userSalary | currency }}</h3>
						<p mat-line>Despesas: {{ dataCtrl.sumOfValues | currency }}</p>
						<div align="end">
							<p mat-line
								[ngClass]="{
									'danger': isDanger,
									'success': !isDanger
								}"
							>{{ calc | currency }}</p>
						</div>
					</mat-list-item>
				</mat-list>

			</mat-expansion-panel>
		</mat-accordion>
	</ng-template>
	<!-- FIM -->

</div>

<!-- Primeiro Spinner de Carregando -->
<ng-template #primaryLoading>
	<mat-grid-list cols="3" rowHeight="50">
		<mat-grid-tile colspan="1"></mat-grid-tile>
		<mat-grid-tile colspan="1" align="center">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-grid-tile>
		<mat-grid-tile colspan="1"></mat-grid-tile>
	</mat-grid-list>
</ng-template>
<!-- FIM -->

<!-- Titulo -->
<h2 class="title">
	Ultimas Despesas
	<small>
		{{
			numberOfExpenses == undefined ? 'Carregando...' :
			numberOfExpenses == 0 ? 'Sem Despesas' : numberOfExpenses+' Despesas'
		}}
	</small>
</h2>
<!-- FIM -->

<!-- Div que verifica se há Despesas na Variavel -->
<div *ngIf="expenses$ | async as expenses; else secondyLoading">

	<!-- Verifica se existe alguma Despesa, senão carrega o ng-template -->
	<div *ngIf="expenses == undefined || expenses == null || expenses.length == 0; else someExpenses" align="center">
		<p>Você não possui nenhuma despesa cadastrada!</p>
		<button mat-raised-button color="primary" (click)="openDialog()">Adicionar Despesa</button>
	</div>
	<!-- FIM -->

	<!-- Carrega todas as Despesas -->
	<ng-template #someExpenses>

		<!-- Painel que Expande contendo a lista -->
		<mat-accordion class="mat-elevation-z8">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Veja suas {{ numberOfExpenses }} ultimas Despesas
					</mat-panel-title>
				</mat-expansion-panel-header>

				<mat-list class="list">
					<mat-list-item class="item" *ngFor="let item of expenses" (click)="onShowDetail(item._id)">
						<mat-icon mat-list-icon color="primary">label_important</mat-icon>
						<h3 mat-line class="listTitle">{{ item.name }}</h3>
						<p mat-line>{{ item.date | date }}</p>
						<div align="end">
							<p mat-line>{{ item.value | currency }}</p>
						</div>
					</mat-list-item>

					<mat-list-item>
						<div mat-line align="center">
							<button mat-raised-button color="primary" routerLink="/dash/all-expenses">Ver Todos</button>
						</div>
					</mat-list-item>
				</mat-list>

			</mat-expansion-panel>
		</mat-accordion>
		<!-- FIM -->

	</ng-template>
	<!-- FIM -->

</div>
<!-- FIM -->

<!-- Segundo Spinner de Carregando -->
<ng-template #secondyLoading>
	<mat-grid-list cols="3" rowHeight="50">
		<mat-grid-tile colspan="1"></mat-grid-tile>
		<mat-grid-tile colspan="1" align="center">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-grid-tile>
		<mat-grid-tile colspan="1"></mat-grid-tile>
	</mat-grid-list>
</ng-template>
<!-- FIM -->

