<h2 mat-dialog-title>Nova Despesa</h2>

<form [formGroup]="addForm"  (ngSubmit)="onAddExpense()">
<mat-dialog-content class="mat-typography">

	<mat-grid-list cols="2" rowHeight="78">

		<mat-grid-tile colspan="2">
			<mat-form-field appearance="outline" class="group" hideRequiredMarker>
				<mat-label>Nome da Despesa</mat-label>
				<input type="text" formControlName="name" matInput>
                <mat-icon matSuffix>edit</mat-icon>

                <mat-error *ngIf="addForm.get('name').hasError('required')">
                    O nome é <strong>obrigatório</strong>
                </mat-error>
			</mat-form-field>
		</mat-grid-tile>

		<mat-grid-tile colspan="2">
			<mat-form-field appearance="outline" class="group" hideRequiredMarker>
				<mat-label>Valor da Despesa</mat-label>
				<input type="number" formControlName="value" matInput>
                <mat-icon matSuffix>attach_money</mat-icon>

                <mat-error *ngIf="addForm.get('value').hasError('required')">
                    Você <strong>precisa</strong> informar o valor
                </mat-error>
			</mat-form-field>
		</mat-grid-tile>

		<mat-grid-tile colspan="2">
			<mat-form-field appearance="outline" class="group" hideRequiredMarker>
				<mat-label>Data de Criação</mat-label>
				<input matInput formControlName="date" [matDatepicker]="datePicker">
				<mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
				<mat-datepicker #datePicker></mat-datepicker>

                <mat-error *ngIf="addForm.get('date').hasError('required')">
                    Você <strong>precisa</strong> informar a data
                </mat-error>
			</mat-form-field>
		</mat-grid-tile>

		<mat-grid-tile colspan="2" rowspan="2">
			<mat-form-field appearance="outline" class="group" hideRequiredMarker>
				<mat-label>Pequena Descrição</mat-label>
                <textarea matInput formControlName="description" rows="5"></textarea>

                <mat-error *ngIf="addForm.get('description').hasError('maxlength')">
                    A descrição não pode ter mais de <strong>250</strong> caracteres
                </mat-error>
			</mat-form-field>
		</mat-grid-tile>
	</mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-dialog-close="true">Cancelar</button>

    <button mat-raised-button color="primary"
        type="submit"[disabled]="!addForm.valid"
    >
        Cadastrar
    </button>
</mat-dialog-actions>
</form>
