.header {
	background-color: #00ACC1;
	height: 64px;
}

.header button {
	margin-left: 8px;
	margin-top: 14px;
}

.content {
	margin-top: 10px;
}

.link {
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

.link:visited {
	color: unset;
}

.footer {
	position: absolute;
	top: 80%;
	bottom: 0;
	width: 100%;
}

.footer img {
	width: 120px;
}
