<h2 mat-dialog-title>Alterar sua Imagem de Perfil</h2>

<mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="87">

		<mat-grid-tile colspan="2">
            <input type="file" (change)="onChange($event)">
        </mat-grid-tile>

	</mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
	<button mat-raised-button (click)="onUpload()"
		color="primary" type="button" [disabled]="isLoading == true"
	>
		{{ isLoading == true ? 'Carregando...' : 'Alterar Imagem' }}
	</button>
</mat-dialog-actions>
